$color: red;
div {
    font-size: large;
    background-color: gray;
    p {
        background-color: red;
    }   
    ul {
        color: lightblue;
        li {
            color: red;
        }
    }
        li {
            color: red;
        }
}

section {
    background-color: red;
}